################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.sonarqube
*.csproj.CoreCompileInputs.cache
*.user
*.pubxml
bin
obj
pkg
*.cache
*.dll
*.pdb
CustomSettings.config
